.checkout {
   margin: 5rem auto;
   width: 60%;
   // background-color: orangered;
   color: rgb(89, 89, 89);

   & > * {
      display: flex;
      align-items: center;
      border-bottom: .1rem solid rgb(89, 89, 89);
      padding: 1rem 0;
      gap: 4rem;

      & > * {
         flex: 1;
      }
   }

   &__column-titles {
      font-size: 1.4rem;
   }
}