.product {
   display: flex;
   flex-direction: column;
   cursor: pointer;

   &__img {
      position: relative;
      flex: 1;
      background-size: cover;

      & > .button {
         visibility: hidden;
         opacity: 0;
         position: absolute;
         left: 50%;
         bottom: 2rem;
         translate: -50% 0;
         transition: all .2s;
      }
   }

   &:hover .button {
      visibility: visible;
      opacity: 1;
   }

   &__details {
      display: flex;
      justify-content: space-between;
      font-size: 2rem;
      padding: 1.5rem 0;
   }
}