.checkout-item {
   display: flex;
   font-size: 1.8rem;

   & > * {
      flex: 1;
   }

   &__img {
      width: 100%;
   }

   &__remove {
      padding: 1rem;
   }

   &__quantity {
      display: flex;
      align-items: center;
      gap: 1rem;
   }

   &__quantity-control {
      width: 2.5rem;
      cursor: pointer;
   }
}